# Editor
.vscode

# macOS
.DS_Store

## Instructor-provided files that I don't modify

# Lab 0
lab0/Makefile
lab0/test_lab0.py

# Lab 1
lab1/Makefile
lab1/README.md
lab1/test_lab1.py

# Lab 2
lab2/Makefile
lab2/processes.txt
lab2/README.md
lab2/test_lab2.py

# Lab 3
lab3/hash-table-base.c
lab3/hash-table-base.h
lab3/hash-table-common.c
lab3/hash-table-common.h
lab3/hash-table-tester.c
lab3/hash-table-v1.h
lab3/hash-table-v2.h
lab3/Makefile
lab3/README.md
lab3/test_lab3.py

# Lab 4
lab4/.gitignore
lab4/Makefile
lab4/README.md
lab4/test_lab4.py
